Source: git-fs
Section: net
Priority: optional
Maintainer: Benjamin Staffin <bstaffin@fitbit.com>
Build-Depends: debhelper (>= 8.0.0),
 dh-ocaml,
 omake,
 libfuse-dev,
 camlidl,
 libpcre-ocaml-dev,
 libbatteries-ocaml-dev
Standards-Version: 3.9.5
Homepage: https://github.com/g2p/git-fs
#Vcs-Git: git://git.debian.org/collab-maint/git-fs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/git-fs.git;a=summary

Package: git-fs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A filesystem interface to git repositories
 git-fs is a filesystem interface to git repositories. Past and current
 versions can be accessed without a checkout.  Heads, tags, branches,
 reflogs, commits and worktrees provide various means of naming and
 accessing files.
